body {

}

.bodystyle {
    margin: 50px 0;
    font-family: "Jua", sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    font-size: 1.5em;
    margin: 50px 350px;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.member-list {
    border: 2px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:120px;
}

.info p {
    margin: 10px 0;
}

.buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: auto;
}

button {
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: black;
}

button.allow {
    background-color: #00c4cc;
    font-family: "Jua", sans-serif;
}

button.denied {
    background-color: #ff4b4b;
    font-family: "Jua", sans-serif;
}

label.status{
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    color: black;

    background-color: #b9b9b9;
    font-family: "Jua", sans-serif;
}

.memberList{
    margin-left:80px;
    font-size:2.0em;
}