<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="/css/header/header.css">
</head>
<body>
<header th:fragment="headerFragment">
    <div class="header-left" onclick="location.href='/map'">
        <h1>DOYOUKNOW</h1>
    </div>
    <div class="header-right">
        <p onclick="location.href='http://localhost:8080/board/public/0'">취업</p>
        <p onclick="location.href='http://localhost:8080/board/public/1'">장학</p>
        <div class="dropdown">
            <p>학과</p>
            <div class="dropdown-content">
                <a th:each="dept : ${deptInfo}" th:if="${dept.isDivision == 1}" th:href="@{'/board/dept/' + ${dept.seq}}" th:text="${dept.name}" style="color: white;"></a>
            </div>
        </div>
        <div class="dropdown">
            <p>기관</p>
            <div class="dropdown-content">
                <a th:each="dept : ${deptInfo}" th:if="${dept.isDivision == 0}" th:href="@{'/board/dept/' + ${dept.seq}}" th:text="${dept.name}" style="color: white;"></a>
            </div>
        </div>
        <div class="loginBtDiv">
            <button th:if="${seq} == null" class="loginBt" onclick="location.href='http://localhost:8080/login'">로그인</button>
            <button th:if="${seq} != null" class="loginBt" onclick="location.href='http://localhost:8080/logout'">로그아웃</button>
        </div>
    </div>
</header>
</body>
</html>
