<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="/css/header/header.css">
</head>
<body>
<header th:fragment="headerFragment">
    <div class="header-left" onclick="location.href='/map'">
        <h1>DOYOUKNOW</h1>
    </div>
    <div class="header-right">
        <p onclick="location.href='http://localhost:8080/board/public/0'">취업</p>
        <p onclick="location.href='http://localhost:8080/board/public/1'">장학</p>
        <div class="dropdown">
            <p>학과</p>
            <div class="dropdown-content">
                <a style="color: white;">학과1</a>
                <a style="color: white;">학과2</a>
                <a style="color: white;">학과3</a>
            </div>
        </div>
        <div class="dropdown">
            <p>기관</p>
            <div class="dropdown-content">
                <a style="color: white;">기관1</a>
                <a style="color: white;">기관2</a>
                <a style="color: white;">기관3</a>
            </div>
        </div>
    </div>
</header>

<h3>헤더입니다.</h3>
</body>
</html>
