<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지/행사 신청 양식</title>
    <link rel="stylesheet" href="/css/event-form-style.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
</head>

<body>

<header th:replace="~{/fragment/header/header :: headerFragment}">
</header>

<form action="/board/event-form" method="post" enctype="multipart/form-data">
    <input type="hidden" name="boardType" th:value="${param.boardType}">
<div class="container">
    <h1>공지 / 행사 신청 양식</h1>
    <div class="dropdown-section">
        <select class="dropdown" id="eventType" name="type">
            <option value="" disabled selected hidden>분류</option>
            <option value="0">일반</option>
            <option value="1">장학</option>
            <option value="2">취업</option>
        </select>
        <select class="dropdown" id="categoryType" name="type2">
            <option value="" disabled selected hidden>분류</option>
            <option value="0">행사</option>
            <option value="1">공지</option>
        </select>
    </div>

        <h2>제목</h2>
        <input type="text" id="title" name="title" placeholder="제목">
        <div class="date-section">
            <h2><label for="applyStartDate">신청일:</label></h2>
            <input type="date" id="applyStartDate" name="applyStartDate">

            <h2><label for="applyStartTime"></label></h2>
            <input type="time" id="applyStartTime" name="applyStartTime">

            <h2><label for="applyEndDate"> ~ </label></h2>
            <input type="date" id="applyEndDate" name="applyEndDate">

            <h2><label for="applyEndTime"></label></h2>
            <input type="time" id="applyEndTime" name="applyEndTime">
        </div>

        <div class="date-section">
            <h2><label for="eventStartDate">행사일:</label></h2>
            <input type="date" id="eventStartDate" name="eventStartDate">

            <h2><label for="eventStartTime"></label></h2>
            <input type="time" id="eventStartTime" name="eventStartTime">

            <h2><label for="eventEndDate"> ~ </label></h2>
            <input type="date" id="eventEndDate" name="eventEndDate">

            <h2><label for="eventEndTime"></label></h2>
            <input type="time" id="eventEndTime" name="eventEndTime">
        </div>

        <h2>장소</h2>
        <input type="text" id="loc" name="loc" placeholder="장소">
        <h2>상세설명</h2>
        <textarea id="content" name="content" placeholder="상세설명"></textarea>
        <h2>첨부파일</h2>
        <input type="file" id="filename" name="filename">

        <h2 class="calender-title">달력 색 선택</h2>
        <input type="color" id="calendarColor" class="color-input" name="calendarColor">

        <div class="button-section">
            <button type="submit" class="submit-btn">작성</button>
            <button class="cancel-btn">취소</button>
        </div>
    </div>
</form>

<footer th:replace="~{/fragment/footer/footer :: footerFragment}">
</footer>

</body>
</html>
