<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DoYouKnow</title>
    <!--/* 부트스트랩 라이브러리 fragment로 주입 */-->
    <th:block th:replace="~{fragment/bootstrap::dependency}"></th:block>
    <link rel="stylesheet" href="/css/board/board.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
    <style>
    </style>
    <script>
        window.onload = () => {
            /* 사이드바 높이 변환 이벤트 */
            const sidebar = document.getElementById('sideBarFloat');

            function updateSidebarPosition() {
                let windowHeight = window.innerHeight;
                let sidebarHeight = sidebar.offsetHeight;
                let topPosition = (windowHeight / 2) - (sidebarHeight / 2);
                sidebar.style.top = `${topPosition}px`;
            }

            window.addEventListener('resize', updateSidebarPosition);
            window.addEventListener('load', updateSidebarPosition);
            window.addEventListener('scroll', updateSidebarPosition);

            // 페이지 로드 시 한 번 실행
            updateSidebarPosition();

            const deptData = JSON.parse(JSON.stringify('/json/dept-info.json'));
            console.log(deptData);
        }
    </script>
</head>
<body>
    <header th:replace="~{/fragment/header/header :: headerFragment}">
    </header>
    <content>
        <div class="contentBody">
            <div class="mainImg">
                <div class="titleBox">
                    <div class="title">
                        <th:block th:switch="${boardType}">
                            <th:block th:case="dept" th:with="deptInfo=${deptList.get(0)}">
                                삼육대학교
                                <span class="title-dept" th:text="${deptInfo.name}">학과명</span>
                            </th:block>
                            <th:block th:case="public">
                                <div class="d-flex flex-column text-center">
                                <span class="title-dept-sub">
                                    <th:block th:if="${boardValue} == 1" th:text="Scholarship"/>
                                    <th:block th:if="${boardValue} == 2" th:text="Employment"/>
                                </span>
                                    <span class="title-dept">
                                    <th:block th:if="${boardValue} == 1" th:text="장학"/>
                                    <th:block th:if="${boardValue} == 2" th:text="취업"/>
                                </span>
                                </div>
                            </th:block>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="content-wrap">
                <div class="sideBar">
                    <div id="sideBarFloat" class="sideBarFloat">
                        <div class="card card-top">
                            <div class="card-header fw-bold">
                                학과
                            </div>
                            <div class="card-body" id="card-dept">
                                <div class="card card-middle card-collapse">
                                    <div class="card-header card-middle card-link">
                                        <a data-bs-toggle="collapse" th:href="|#collapse${p}|">
                                            신학대학
                                        </a>
                                    </div>
                                    <div th:id="|collapse${p}|" class="card-body collapse" data-bs-parent="#card-dept">
                                        <div class="com">신학과</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card card-bottom card-link">
                            <div class="card-header"
                                 th:with="buttonLink=|/board/${boardType}/${boardValue}/intro|"
                                 th:onclick="location.href=[[${buttonLink}]]">
                                정보&nbsp;
                                <img src="/img/common/external-link-black.png" width="16" class="external-link a-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mainContent">
                    <div class="dept-card-wrap">
                        <div class="dept-card part" th:each="dept:${deptList}">
                            <div class="dept-thumb">
                                <img src="/img/board/dept-computer-intro.jpg" alt="dept-computer-intro">
                            </div>
                            <div class="dept-content">
                                <div class="dept-title" th:text="${dept.name}">컴퓨터공학부</div>
                                <div class="dept-text" th:text="${dept.intro}">컴퓨터공학부(컴퓨터공학전공, 소프트웨어전공)는 소프트웨어 개발 및 융합 역량 강화를 위한 체계적인 교육과 함께 4차 산업혁명의 핵심 기술인 인공지능, 사물인터넷, 빅 데이터 및 모바일 컴퓨팅 기술 등 최신 기술에 대한 수요 지향 교육을 진행하고 있으며, 산업체와 연계된 프로젝트 중심 교육을 통해 이론과 현장 실무 능력을 겸비한 ICT 인재를 양성하고 있습니다.</div>
                                <div class="dept-info">
                                    <dl>
                                        <dt>위치</dt>
                                        <dd th:text="|${dept.loc} ${dept.locDetail}|">제1실습관 401호</dd>
                                    </dl>
                                    <dl>
                                        <dt>전화번호</dt>
                                        <dd th:text="${dept.phone}">02-3399-1790</dd>
                                    </dl>
                                    <dl>
                                        <dt>팩스</dt>
                                        <dd>02-3399-1791</dd>
                                    </dl>
                                    <dl>
                                        <dt>이메일</dt>
                                        <dd>comp@syu.ac.kr</dd>
                                    </dl>
                                </div>
                                <div class="dept-button">
                                    <span class="btn btn-primary" th:onclick="location.href=`${location.protocol}//${location.host}/board/dept/[[${dept.seq}]]`">홈페이지 이동</span>
                                </div>
                            </div>
                        </div>
                        <th:block th:if="${deptList.size() mod 2 eq 1}">
                            <div class="dept-card part" style="visibility: hidden;">
                                <!--/* dept-card 홀수개 존재할 시
                                빈 dept-card 클래스 태그 필요 */-->
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </content>
    <footer th:replace="~{/fragment/footer/footer :: footerFragment}">
    </footer>
</body>
</html>