<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DoYouKnow</title>
    <link rel="stylesheet" href="/css/board/board.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
</head>
<body>
    <header th:replace="~{/fragment/header/header :: headerFragment}">
    </header>
    <content>
        <div class="contentBody">
            <div class="mainImg">
                메인사진
            </div>
            <div class="content-wrap">
                <div class="sideBar">
                    사이드바 영역
                </div>
                <div class="mainContent">
                    <div class="calendar-wrap">
                        기관, 부서 소개
                    </div>
                </div>
            </div>
        </div>
    </content>
    <footer th:replace="~{/fragment/footer/footer :: footerFragment}">
    </footer>
</body>
</html>