<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DoYouKnow</title>
    <!--/* 부트스트랩 라이브러리 fragment로 주입 */-->
    <th:block th:replace="~{fragment/bootstrap::dependency}"></th:block>
    <link rel="stylesheet" href="/css/board/test-sidebar2.css">
    <style>
    </style>
    <script>
        window.onload = () => {
            /* 사이드바 높이 변환 이벤트 */
            const sidebar = document.getElementById('sideBarFloat');

            function updateSidebarPosition() {
                let windowHeight = window.innerHeight;
                let sidebarHeight = sidebar.offsetHeight;
                let topPosition = (windowHeight / 2) - (sidebarHeight / 2);
                sidebar.style.top = `${topPosition}px`;
            }

            window.addEventListener('resize', updateSidebarPosition);
            window.addEventListener('load', updateSidebarPosition);
            window.addEventListener('scroll', updateSidebarPosition);

            // 페이지 로드 시 한 번 실행
            updateSidebarPosition();
        }
    </script>
</head>
<body>
    <header>헤더</header>
    <content>
        <div class="contentBody">
            <div class="mainImg">
                <div class="titleBox">
                    <div class="title">
                        삼육대학교
                        <span class="title-dept">컴퓨터공학부</span>
                    </div>
                </div>
            </div>
            <div class="content-wrap">
                <div class="sideBar">
                    <div id="sideBarFloat" class="sideBarFloat">
                        <div class="card card-top">
                            <div class="card-header">
                                학과
                            </div>
                            <div class="card-body">
                                <div class="dropdown dropend">
                                    <div class="dropdown-caption" data-bs-toggle="dropdown">
                                        미래융합대학
                                    </div>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item">test1</li>
                                        <hr class="divider">
                                        <li class="dropdown-item">test2</li>
                                        <hr class="divider">
                                        <li class="dropdown-item">test3</li>
                                    </ul>
                                </div>
                                <hr class="divider">

                                <div class="dropdown dropend">
                                    <div class="dropdown-caption" data-bs-toggle="dropdown">
                                        미래융합대학
                                    </div>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item">test1</li>
                                        <hr class="divider">
                                        <li class="dropdown-item">test2</li>
                                        <hr class="divider">
                                        <li class="dropdown-item">test3</li>
                                    </ul>
                                </div>
                                <hr class="divider">

                                <div class="dropdown dropend">
                                    <div class="dropdown-caption" data-bs-toggle="dropdown">
                                        미래융합대학
                                    </div>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item">test1</li>
                                        <hr class="divider">
                                        <li class="dropdown-item">test2</li>
                                        <hr class="divider">
                                        <li class="dropdown-item">test3</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card card-bottom">
                            <div class="card-header">
                                정보&nbsp;
                                <img src="/img/common/external-link-black.png" width="16" class="external-link a-center">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mainContent">
                    <div class="calendar-wrap">
                        캘린더 영역
                    </div>
                    <div class="card-list">
                        카드 리스트 영역
                    </div>
                </div>
            </div>
        </div>
    </content>
    <footer>푸터</footer>
</body>
</html>