<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DoYouKnow</title>
    <!--/* 부트스트랩 라이브러리 fragment로 주입 */-->
    <th:block th:replace="~{fragment/bootstrap::dependency}"></th:block>
    <link rel="stylesheet" href="/css/board/board.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
    <script src="https://kit.fontawesome.com/59d34efa84.js" crossorigin="anonymous"></script>
    <script>
        function truncateText(selector, maxLength) {
            const elements = document.querySelectorAll(selector);
            elements.forEach(element => {
                const text = element.textContent;
                if (text.length > maxLength) {
                    element.textContent = text.substring(0, maxLength) + '...';
                }
            });
        }

        // document.addEventListener('DOMContentLoaded', function () {
        //     truncateText('.truncate-title', 33);
        //     truncateText('.truncate-content', 30);
        // });

        window.onload = () => {
            truncateText('.truncate-title', 33);
            truncateText('.truncate-content', 30);

            /* 사이드바 높이 변환 이벤트 */
            const sidebar = document.getElementById('sideBarFloat');

            function updateSidebarPosition() {
                let windowHeight = window.innerHeight;
                let sidebarHeight = sidebar.offsetHeight;
                let topPosition = (windowHeight / 2) - (sidebarHeight / 2);
                sidebar.style.top = `${topPosition}px`;
            }

            window.addEventListener('resize', updateSidebarPosition);
            window.addEventListener('load', updateSidebarPosition);
            window.addEventListener('scroll', updateSidebarPosition);

            /* 캘린더 생성 */
            const calendarEl = document.getElementById('calendar');
            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'ko',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                dayCellContent: (e) => {
                    return e.dayNumberText.replace('일', '');
                },
                navLinks: true,
                buttonText: {
                    today: '오늘',
                    dayGridMonth: '월간',
                    timeGridWeek: '주간',
                    timeGridDay: '일간'
                }
            });
            calendar.render();

            // 페이지 로드 시 한 번 실행
            updateSidebarPosition();
        }
    </script>
</head>
<body>
<header th:replace="~{/fragment/header/header :: headerFragment}">
</header>
<content>
    <div class="contentBody">
        <div class="mainImg">
            <div class="titleBox">
                <div class="title">
                    삼육대학교
                    <span class="title-dept">컴퓨터공학부</span>
                </div>
            </div>
        </div>
        <div class="content-wrap">
            <div class="sideBar">
                <div id="sideBarFloat" class="sideBarFloat">
                    <div class="card card-top">
                        <div class="card-header">
                            학과
                        </div>
                        <div class="card-body">
                            <div class="dropdown dropend">
                                <div class="dropdown-caption" data-bs-toggle="dropdown">
                                    미래융합대학
                                </div>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item">test1</li>
                                    <hr class="divider">
                                    <li class="dropdown-item">test2</li>
                                    <hr class="divider">
                                    <li class="dropdown-item">test3</li>
                                </ul>
                            </div>
                            <hr class="divider">

                            <div class="dropdown dropend">
                                <div class="dropdown-caption" data-bs-toggle="dropdown">
                                    미래융합대학
                                </div>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item">test1</li>
                                    <hr class="divider">
                                    <li class="dropdown-item">test2</li>
                                    <hr class="divider">
                                    <li class="dropdown-item">test3</li>
                                </ul>
                            </div>
                            <hr class="divider">

                            <div class="dropdown dropend">
                                <div class="dropdown-caption" data-bs-toggle="dropdown">
                                    미래융합대학
                                </div>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item">test1</li>
                                    <hr class="divider">
                                    <li class="dropdown-item">test2</li>
                                    <hr class="divider">
                                    <li class="dropdown-item">test3</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card card-bottom">
                        <div class="card-header">
                            정보&nbsp;
                            <img src="/img/common/external-link-black.png" width="16" class="external-link a-center">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainContent">
                <div class="calendar-wrap" id="calendar">
                </div>
                <div class="card-list">
                    <div class="listSearch">
                        <button type="submit" class="writeBtn">글쓰기</button>
                        <div>
                            <select name="order1">
                                <option value="all" selected>전체</option>
                                <option value="type1">장학</option>
                                <option value="type2">행사</option>
                                <option value="type3">취업</option>
                                <option value="type4">공지</option>
                            </select>
                            <select name="order2">
                                <option value="" selected>정렬기준</option>
                                <option value="type5">조회순</option>
                                <option value="type6">마감순</option>
                                <option value="type7">등록순</option>
                                <option value="type8">시작순</option>
                            </select>
                            <input type="text" name="search" placeholder="텍스트 검색">
                            <button type="submit">검색</button>
                        </div>
                    </div>

                    <!-- 마감일 고정 목록 -->
                    <div class="listItems">
                        <div class="listItem" th:each="board : ${top3}">
                        <div class="fix" th:text="'D-' + ${board.dday}"></div>
                            <div class="imgflex">
                                <img th:src="@{/img/board/img.jpg}" alt="행사 이미지" class="listImg"/>
                            </div>
                            <h2 th:text="${board.title}" class="truncate-title maginX">제목</h2>
                            <p th:text="${board.content}" class="truncate-content maginX">간단한 설명</p>
                            <div class="flex">
                                <h1 class="maginX dday" th:text="'D-' + ${board.dday}"></h1>
                                <h3 th:text="${board.writerDeptSeq}" id="typeContent" class="maginX">부서이름</h3>
                            </div>
                        </div>
                    </div>

                    <!-- 전체 목록 -->
                    <div class="listItems">
                        <div class="listItem" th:each="board : ${board}">
                            <div class="imgflex">
                                <img th:src="@{/img/board/img.jpg}" alt="행사 이미지" class="listImg"/>
                            </div>
                            <h2 th:text="${board.title}" class="truncate-title maginX">제목</h2>
                            <p th:text="${board.content}" class="truncate-content maginX">간단한 설명</p>
                            <div class="flex">
                                <h1 class="maginX dday" th:text="'D-' + ${board.dday}"></h1>
                                <h3 th:text="${board.writerDeptSeq}" id="typeContent1" class="maginX">부서이름</h3>
                            </div>
                        </div>
                    </div>

                    <!-- paging -->
                    <div id="paging">
                        <!-- 맨앞 페이지로 이동 -->
                        <button th:onclick="'location.href=\'/board/dept/'+${deptSeq}+'?page=' + ${ paging.startPage } + '\''">
                            <img th:src="@{/img/board/왼쪽화살표.png}" class="arrow">
                        </button>

                        <!-- 이전 페이지로 이동 -->
                        <button th:onclick="'location.href=\'/board/dept/'+${deptSeq}+'?page=' + ${ paging.currentPage - 1 } + '\''"
                                th:disabled="${ board.first }">
                            <i class="fa-solid fa-chevron-left"></i>
                        </button>

                        <!-- 숫자 버튼 -->
                        <th:block th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage) }">
                            <button th:onclick="'location.href=\'/board/dept/'+${deptSeq}+'?page=' + ${ page } + '\''"
                                    th:text="${ page }"
                                    th:disabled="${ paging.currentPage eq page }"
                                    class="numSize">
                            </button>
                        </th:block>
                        <!-- 다음 페이지로 이동 -->
                        <button th:onclick="'location.href=\'/board/dept/'+${deptSeq}+'?page=' + ${ paging.currentPage + 1 } + '\''"
                                th:disabled="${ board.last }">
                            <i class="fa-solid fa-chevron-right"></i>
                        </button>

                        <!-- 맨뒤 페이지로 이동 -->
                        <button th:onclick="'location.href=\'/board/dept/'+${deptSeq}+'?page=' + ${ paging.endPage } + '\''">
                            <img th:src="@{/img/board/오른쪽화살표.png}" class="arrow">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</content>
<footer th:replace="~{/fragment/footer/footer :: footerFragment}"></footer>
</body>
</html>