<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DoYouKnow</title>
    <!--/* 부트스트랩 라이브러리 fragment로 주입 */-->
    <th:block th:replace="~{fragment/bootstrap::dependency}"></th:block>
    <link rel="stylesheet" href="/css/board/board.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
    <script src="https://kit.fontawesome.com/59d34efa84.js" crossorigin="anonymous"></script>
    <script th:inline="javascript">

        /* 목록 글자수 제한 */
        function truncateText(selector, maxLength) {
            const elements = document.querySelectorAll(selector);
            elements.forEach(element => {
                const text = element.textContent;
                if (text.length > maxLength) {
                    element.textContent = text.substring(0, maxLength) + '...';
                }
            });
        }

        /* 달력에 삽입될 행사, 공지 정보 리스트 */
        const boardList = /*[[${board.content}]]*/ [];
        console.log(boardList);
        let calendarBoard = [];
        for(let i = 0; i < boardList.length; i++) {
            const board = boardList[i];

            if(board.applyStart) {
                calendarBoard.push(
                    {
                        'title' : '[접수]' + board.title,
                        'start' : board.applyStart,
                        'end' : board.applyEnd,
                        'color' : board.calendarColor,
                        'url' : `${window.location.protocol}//${window.location.host}/board/detail/${board.seq}`
                    }
                )
            }
            if(board.eventStart) {
                calendarBoard.push(
                    {
                        'title' : board.title,
                        'start' : board.eventStart,
                        'end' : board.eventEnd,
                        'color' : board.calendarColor,
                        'url' : `${window.location.protocol}//${window.location.host}/board/detail/${board.seq}`
                    }
                )
            }

        }

        console.log(calendarBoard);

        /* 글자수 제한 */
        window.onload = () => {
            truncateText('.truncate-title', 33);
            truncateText('.truncate-content', 30);

            /* 사이드바 높이 변환 이벤트 */
            const sidebar = document.getElementById('sideBarFloat');

            function updateSidebarPosition() {
                let windowHeight = window.innerHeight;
                let sidebarHeight = sidebar.offsetHeight;
                let topPosition = (windowHeight / 2) - (sidebarHeight / 2);
                sidebar.style.top = `${topPosition}px`;
            }

            window.addEventListener('resize', updateSidebarPosition);
            window.addEventListener('load', updateSidebarPosition);
            window.addEventListener('scroll', updateSidebarPosition);

            /* 캘린더 생성 */
            const calendarEl = document.getElementById('calendar');
            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: 'ko',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                // 버튼 출력 텍스트
                buttonText: {
                    today: '오늘',
                    dayGridMonth: '월간',
                    timeGridWeek: '주간',
                    timeGridDay: '일간'
                },
                // 날짜 후미에 붙는 '일' 제거
                dayCellContent: (e) => {
                    return e.dayNumberText.replace('일', '');
                },
                navLinks: true,
                dayMaxEvents: true,
                // 캘린더에 출력될 이벤트 할당
                eventSources: [
                    {
                        events: calendarBoard
                    }
                ],

            });
            calendar.render();

            // 페이지 로드 시 한 번 실행
            updateSidebarPosition();


            /* 정렬 */
            const sortOrder = document.getElementById('sortOrder');
            sortOrder.addEventListener('change', (e) => {
                const val = e.target.value;
                const boardType = [[${boardType}]];
                const boardValue = [[${boardValue}]];
                const sortPublicType = [[${param.sortPublicType}]];
                location.href = `${location.protocol}//${location.host}/board/${boardType}/${boardValue}?${sortPublicType ? 'sortPublicType=' + sortPublicType + '&' : ''}sortOrder=${val}`;
            });

            /* 학과에만 있는 정렬*/
            const sortPublicType = document.getElementById('sortPublicType');
            sortPublicType.addEventListener('change', (e) => {
                const val = e.target.value;
                const boardType = [[${boardType}]];
                const boardValue = [[${boardValue}]];
                const sortOrder = [[${param.sortOrder}]];
                location.href = `${location.protocol}//${location.host}/board/${boardType}/${boardValue}?sortPublicType=${val}${sortOrder ? '&sortOrder=' + sortOrder : ''}`;
            })
        }
    </script>
</head>
<body>
<header th:replace="~{/fragment/header/header :: headerFragment}">
</header>
<content>
    <div class="contentBody">
        <div class="mainImg" th:style="|background-image: url(/img/board/main/${boardType}/${boardValue}.jpg)|">
            <div class="titleBox">
                <div class="title">
                    <th:block th:switch="${boardType}">
                        <th:block th:case="dept">
                            삼육대학교
                            <span class="title-dept" th:text="${deptInfo.name}">학과명</span>
                        </th:block>
                        <th:block th:case="public">
                            <div class="d-flex flex-column text-center">
                                <span class="title-dept-sub">
                                    <th:block th:if="${boardValue} == 1" th:text="Scholarship"/>
                                    <th:block th:if="${boardValue} == 2" th:text="Employment"/>
                                </span>
                                <span class="title-dept">
                                    <th:block th:if="${boardValue} == 1" th:text="장학"/>
                                    <th:block th:if="${boardValue} == 2" th:text="취업"/>
                                </span>
                            </div>
                        </th:block>
                    </th:block>
                </div>
            </div>
        </div>
        <div class="content-wrap">
            <div class="sideBar">
                <div id="sideBarFloat" class="sideBarFloat">
                    <div class="card card-top">
                        <div class="card-header">
                            학과
                        </div>
                        <div class="card-body">
                            <div class="dropdown dropend">
                                <div class="dropdown-caption" data-bs-toggle="dropdown">
                                    미래융합대학
                                </div>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item">test1</li>
                                    <hr class="divider">
                                    <li class="dropdown-item">test2</li>
                                    <hr class="divider">
                                    <li class="dropdown-item">test3</li>
                                </ul>
                            </div>
                            <hr class="divider">

                            <div class="dropdown dropend">
                                <div class="dropdown-caption" data-bs-toggle="dropdown">
                                    미래융합대학
                                </div>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item">test1</li>
                                    <hr class="divider">
                                    <li class="dropdown-item">test2</li>
                                    <hr class="divider">
                                    <li class="dropdown-item">test3</li>
                                </ul>
                            </div>
                            <hr class="divider">

                            <div class="dropdown dropend">
                                <div class="dropdown-caption" data-bs-toggle="dropdown">
                                    미래융합대학
                                </div>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item">test1</li>
                                    <hr class="divider">
                                    <li class="dropdown-item">test2</li>
                                    <hr class="divider">
                                    <li class="dropdown-item">test3</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card card-bottom card-info">
                        <div class="card-header"
                             style="cursor: pointer;"
                             th:with="buttonLink=|/board/${boardType}/${boardValue}/intro|"
                             th:onclick="location.href=[[${buttonLink}]]">
                            정보&nbsp;
                            <img src="/img/common/external-link-black.png" width="16" class="external-link a-center">
                        </div>
                    </div>
                </div>
            </div>
            <div class="mainContent">
                <div class="calendar-wrap" id="calendar">
                </div>

                <!-- 목록 -->
                <div class="card-list">
                    <div class="listSearch">
                        <button type="submit" class="writeBtn">글쓰기</button>
                        <div class="flex2">
                            <!--학과 페이지일때만 기능-->
                            <th:block th:if="${boardType == 'dept'}">
                                <select id="sortPublicType"  name="sortPublicType">
                                    <option value="0" th:selected="${sortPublicType} == '0'">전체</option>
                                    <option value="1" th:selected="${sortPublicType} == '1'">장학</option>
                                    <option value="3" th:selected="${sortPublicType} == '2'">취업</option>
                                </select>
                            </th:block>
                            <select id="sortOrder" name="sortOrder">
                                <option value="1" th:selected="${sortOrder} == '1'">등록순</option>
                                <option value="2" th:selected="${sortOrder} == '2'">조회순</option>
                                <option value="3" th:selected="${sortOrder} == '3'">마감순</option>
                                <option value="4" th:selected="${sortOrder} == '4'">시작순</option>
                            </select>
                            <!-- 학과 페이지 일때 검색창 -->
                            <th:block th:if="${boardType == 'dept'}">
                                <form method="get" th:action="@{/board/dept/{deptSeq}(deptSeq=${deptSeq})}">
                                    <input type="text" name="search" placeholder="텍스트 검색"
                                           th:value="${#strings.isEmpty(param.search) ? '' : param.search}">
                                    <button type="submit">검색</button>
                                </form>
                            </th:block>

                            <!-- 부서 페이지 일때 검색창 -->
                            <th:block th:if="${boardType == 'public'}">
                                <form method="get" th:action="@{/board/public/{type}(type=${type})}">
                                    <input type="text" name="search" placeholder="텍스트 검색"
                                           th:value="${#strings.isEmpty(param.search) ? '' : param.search}">
                                    <button type="submit">검색</button>
                                </form>
                            </th:block>
                        </div>
                    </div>

                    <!-- 마감일 고정 목록 -->
                    <div class="listItems">
                        <div class="listItem" th:each="board : ${top3}">
                        <div class="fix" th:text="'D-' + ${board.dday}"></div>
                            <div class="imgflex">
                                <img th:src="@{/img/board/img.jpg}" alt="행사 이미지" class="listImg"/>
                            </div>
                            <h2 th:text="${board.title}" class="truncate-title maginX">제목</h2>
                            <p th:text="${board.content}" class="truncate-content maginX">간단한 설명</p>
                            <div class="flex">
                                <h1 class="maginX dday" th:text="'D-' + ${board.dday}"></h1>
                                <h3 th:text="${board.writerDeptSeq}" id="typeContent" class="maginX">부서이름</h3>
                            </div>
                        </div>
                    </div>

                    <!-- 전체 목록 -->
                    <div class="listItems">
                        <div class="listItem" th:each="board : ${board}">
                            <div class="imgflex">
                                <img th:src="@{/img/board/img.jpg}" alt="행사 이미지" class="listImg"/>
                            </div>
                            <h2 th:text="${board.title}" class="truncate-title maginX">제목</h2>
                            <p th:text="${board.content}" class="truncate-content maginX">간단한 설명</p>
                            <div class="flex">
                                <h1 th:classappend="${board.seconds < 0} ? 'closed' : 'dday'" th:text="${board.seconds < 0} ? '마감' : 'D-' + ${board.dday}" class="maginX"></h1>
                                <h3 th:text="${board.writerDeptSeq}" id="typeContent1" class="maginX">부서이름</h3>
                            </div>
                        </div>
                    </div>

                    <!-- paging -->
                    <!-- 부서면 부서페이지로, 학과면 학과 페이지로 생성 -->
                    <div id="paging">
                        <!-- 맨앞 페이지로 이동 -->
                        <button th:onclick="location.href='http://localhost:8080/board/' + [[${boardType}]] + '/' + [[${boardValue}]]+([[${param.sortOrder}]] ? '?sortOrder='+[[${param.sortOrder}]] : '')">
                            <img th:src="@{/img/board/왼쪽화살표.png}" class="arrow">
                        </button>
                        <!-- 이전 페이지로 이동 -->
                        <button th:onclick="location.href='http://localhost:8080/board/' + [[${boardType}]] + '/' + [[${boardValue}]]+'?'+([[${param.sortOrder}]] ? 'sortOrder='+[[${param.sortOrder}]]+'&' : '') + 'page='+ [[${ paging.currentPage - 1 }]]"
                                th:disabled="${ board.first }">
                            <i class="fa-solid fa-chevron-left"></i>
                        </button>

                        <!-- 숫자 버튼 -->
                        <th:block th:each="page : ${ #numbers.sequence(paging.startPage, paging.endPage) }">
                            <button th:onclick="location.href='http://localhost:8080/board/' + [[${boardType}]] + '/' + [[${boardValue}]]+'?'+([[${param.sortOrder}]] ? 'sortOrder='+[[${param.sortOrder}]]+'&' : '') + 'page='+[[${ page }]]"
                                    th:text="${ page }"
                                    th:disabled="${ paging.currentPage eq page }"
                                    class="numSize">
                            </button>
                        </th:block>
                        <!-- 다음 페이지로 이동 -->
                        <button th:onclick="location.href='http://localhost:8080/board/' + [[${boardType}]] + '/' + [[${boardValue}]]+'?'+([[${param.sortOrder}]] ? 'sortOrder='+[[${param.sortOrder}]]+'&' : '') + 'page='+[[${ paging.currentPage + 1 }]]"
                                th:disabled="${ board.last }">
                            <i class="fa-solid fa-chevron-right"></i>
                        </button>

                        <!-- 맨뒤 페이지로 이동 -->
                        <button th:onclick="location.href='http://localhost:8080/board/' + [[${boardType}]] + '/' + [[${boardValue}]]+'?'+([[${param.sortOrder}]] ? 'sortOrder='+[[${param.sortOrder}]]+'&' : '') + 'page='+[[${ paging.endPage }]]">
                            <img th:src="@{/img/board/오른쪽화살표.png}" class="arrow">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</content>
<footer th:replace="~{/fragment/footer/footer :: footerFragment}"></footer>
</body>
</html>