<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/footer/footer.css">
</head>
<body>
<footer th:fragment="footerFragment">
    <div class="footer-container">
        <div class="group1">
            <p class="mainname">DOYOUKNOW</p>
        </div>
        <div class="group2">                                <!-- img 1,2,3 중 좋은거 선택 / 이미지 좋은거 있으면 바꿔도됨 -->
            <p onclick="location.href='https://www.syu.ac.kr/'">SYU HomePage <img src="/img/external-link1.png"></p>
            <p onclick="location.href='https://lms.suwings.syu.ac.kr/'">EClass <img src="/img/external-link2.png"></p>
            <p onclick="location.href='http://www.nexmotion.co.kr/syutalk/'">SU-Talk <img src="/img/external-link3.png"></p>
        </div>
        <div class="group3">
            <p>TEL. (02) 3399 - 3636</p>
            <p>FAX. (02) 979 - 5318</p>
        </div>
    </div>
    <hr class="footer-hr">
    <div class="copyright">
        <p>Copyright 2024 DUK All right Reserved.</p>
    </div>
</footer>
</body>
</html>
