<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/adminPage/adminPage.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/footer/footer.css">

</head>
<body>

<header th:replace="~{/fragment/header/header :: headerFragment}">
</header>

<div class="bodystyle">
    <div class="container">
        <h1>회원가입 승인</h1>
        <div class="member-list">
            <div class="info">
                <p>이름 : 김컴공</p>
                <p>전화번호 : 010-1234-5678</p>

            </div>
            <div class="info">
                <p>관련 부서: 컴퓨터 공학부</p>
                <p>Email : abc@naver.com</p>
            </div>
            <div class="buttons">
                <button class="allow">승인</button>
                <button class="denied">거부</button>
            </div>
        </div>

        <div class="member-list">
            <div class="info">
                <p>이름 : 이경영</p>
                <p>전화번호 : 010-8765-4321</p>
            </div>
            <div class="info">
                <p>관련 부서: 경영학과</p>
                <p>Email : cba@gmail.com</p>
            </div>
            <div class="buttons">
                <button class="allow">승인</button>
                <button class="denied">거부</button>
            </div>
        </div>

        <div class="member-list">
            <div class="info">
                <p>이름 : 인지융</p>
                <p>전화번호 : 010-1234-5678</p>
            </div>
            <div class="info">
                <p>관련 부서: 인공지능 융합 뭐시기 부</p>
                <p>Email : TTT@naver.com</p>
            </div>
            <div class="buttons">
                <button class="allow">승인</button>
                <button class="denied">거부</button>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{/fragment/footer/footer :: footerFragment}">
</footer>

</body>
</html>