<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공지/행사 신청 양식</title>
  <link rel="stylesheet" href="/css/event-form-style.css">
</head>




<body>
<div class="container">
  <h1>공지 / 행사 신청 양식</h1>
  <div class="dropdown-section">
      <select class="dropdown" id="eventType">
        <option value="" disabled selected hidden>분류</option>
        <option value="event">행사</option>
        <option value="notice">공지</option>
      </select>
    <select class="dropdown" id="categoryType">
      <option value="" disabled selected hidden>분류</option>
      <option value="employment">취업</option>
      <option value="scholarship">장학</option>
    </select>
  </div>



  <h2>제목</h2>
  <input type="text" id="title" placeholder="제목">
  <div class="date-section">
    <h2><label for="applyDate">신청일:</label></h2>
    <input type="date" id="applyDate">

    <h2><label for="applyDateTime"></label></h2>
    <input type="time" id="applyDateTime">

    <h2><label for="deadlineDate"> ~ </label></h2>
    <input type="date" id="deadlineDate">

    <h2><label for="deadlineTime"></label></h2>
    <input type="time" id="deadlineTime">
  </div>



  <div class="date-section">
    <h2><label for="startEventDate">행사일:</label></h2>
    <input type="date" id="startEventDate">

    <h2><label for="startEventTime"></label></h2>
    <input type="time" id="startEventTime">

    <h2><label for="endEventDate"> ~ </label></h2>
    <input type="date" id="endEventDate">

    <h2><label for="endEventTime"></label></h2>
    <input type="time" id="endEventTime">
  </div>



  <h2>장소</h2>
  <input type="text" id="location" placeholder="장소">
  <h2>상세설명</h2>
  <textarea id="description" placeholder="상세설명"></textarea>
  <h2>첨부파일</h2>
  <input type="file" id="attachment">

  <h2 class="calender-title">달력 색 선택</h2>
  <input type="color" id="calendarColor" class="color-input">


  <div class="button-section">
    <button class="submit-btn">작성</button>
    <button class="cancel-btn">취소</button>
  </div>
</div>
</body>
</html>
