<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/login/login.css}" />
    <script type="text/javascript">

        const result=`[[${result}]]`;
        if(result.length!==0) {
            alert("검색된 비밀번호는 [" +result+"] 입니다.");
            location.href = "/login";
        }
    </script>

    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
</head>
<body>
<h2>관리자 로그인</h2>
<div class="container" id="container">
    <div class="form-container sign-in-container">
        <form action="searchpwd" method="post">
            <h1>비밀번호 찾기</h1>
            <div class="social-container">
                <a href="#" class="social"><img src=/img/login/sy_logo.png></a>
            </div>
            <span>아이디와 전화번호를 입력해주세요</span>
            <br>
            <input name="id" type="text" placeholder="아이디를 입력해주세요" />
            <input name="phone" type="text" placeholder="전화번호를 입력해주세요 ( - 없이 입력)" />

            <a onclick="location.href='login'">로그인으로 돌아가기</a>
            <button onclick="location.href='searchpwd'">비밀번호 찾기</button>
            <pre th:text="${message}"></pre>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
            </div>
            <div class="overlay-panel overlay-right">
                <h1>회원이 아니신가요?</h1>
                <p>회원 가입 후 서비스를 이용하십시오</p>
                <button class="ghost" id="signUp" onclick="location.href='signup'">회원가입</button>
            </div>
        </div>
    </div>
</div>


</body>
</html>