<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <link rel="stylesheet" href="/css/map/map.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
            integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
</head>
<body>
<header th:replace="~{/fragment/header/header :: headerFragment}">
</header>

<div class="mapstyle">
    <div id="map">
        <div id="menu_wrap" class="bg_white">
            <div class="option">
                <div class="twobtdiv">
                    <form id="locDetailForm" action="/map" method="get">
                        검색 :&nbsp;<input type="text" name="locDetail" placeholder=" 검색해주세요." id="keyword" size="15">
                        <button type="submit">검색하기</button>
                    </form>
                    <button id="resetButton">초기화하기</button>
                </div>
            </div>
            <hr>
            <ul id="placesList"></ul>
            <div id="pagination"></div>
        </div>
    </div>
</div>

<footer th:replace="~{/fragment/footer/footer :: footerFragment}">
</footer>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8ae2f6fbec5a71ccde32259378359fcc"></script>
<script type="text/javascript" src="/js/map.js"></script>
</body>
</html>
