<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <link rel="stylesheet" href="/css/map.css">
    <link rel="stylesheet" href="/css/header/header.css">
    <link rel="stylesheet" href="/css/footer/footer.css">
</head>
<body>
    <header th:replace="~{/fragment/header/header :: headerFragment}">
    </header>

    <div class="mapstyle">
        <div id="map"></div>
    </div>

    <footer th:replace="~{/fragment/footer/footer :: footerFragment}">
    </footer>

</body>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8ae2f6fbec5a71ccde32259378359fcc"></script>
<script type="text/javascript" src="/js/map.js"></script>
</html>
