<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    body {
        margin: 0;
        text-align: center;
    }
</style>
<body>

<img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FbZPA17%2FbtqFcOe15FF%2FINpx7Bp7f6Ptp6JoTl8UA1%2Fimg.jpg" usemap="#popup" alt="event page">
<map name="popup" id="popup">
    <area shape="rect" coords="380,457,487,492" href="#" alt="close" onclick="window.close();">
</map>
<map name="popup2" id="popup2">
    <area shape="rect" coords="380,457,487,492" href="#" alt="close" onclick="window.close();">
</map>

</body>
</html>