body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
header {
    border: 1px solid black;
}
content {
    border: 1px solid black;
    justify-content: center;
    display: flex;
}
footer {
    border: 1px solid black;
}
.contentBody{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    flex-direction: column;
}
.content-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
}

.mainImg {
    margin: 10px 0 30px 0;
    width: 100%;
    background-color: gray;
    /*height: 20vh;*/
    height: 30vh;
    /**/
    background-image: url('/img/board/dept-computer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.mainContent {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.sideBar {
    width: 20%;
    /*border: 1px solid black;*/
    margin-right: 20px;
}

.calendar-wrap{
    width: 100%;
    border: 1px solid black;
    height: 60vh;
}

.card-list {
    width: 100%;
    border: 1px solid black;
    min-height: 200px;
}

/* 추가 */

.titleBox {
    margin: auto;
    color: white;
}

.title {
    font-size: 40px;
    font-weight: 500;
}

.title-dept {
    font-weight: 1000;
}

.sideBarFloat {
    position: sticky;

    /* 가운데 정렬 & 최대 폭 제한*/
    margin: 0 auto;
    max-width: 180px;
    width: 100%;
}

.card {
    background-color: white;
}

.card-top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    border-top: 2px solid #1D4692;
    border-left: 2px solid #1D4692;
    border-right: 2px solid #1D4692;
}

.card-middle {
    border-radius: 0;

    border-left: 2px solid #1D4692;
    border-right: 2px solid #1D4692;
}

.card-bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    border-left: 2px solid #1D4692;
    border-right: 2px solid #1D4692;
    border-bottom: 2px solid #1D4692;
}

.card-header {
    display: flex;
    background: none;
}

.card-body {
    padding: 0;
    background-color: #DCF6F8;
}

.dropdown-caption {
    padding: 0.5rem 1rem;

    cursor: pointer;
}

.dropdown-menu {
    /*border: none;*/
    /*border-radius: 0;*/
    background-color: #DCF6F8;
    padding: 0;
}

.a-center {
    align-self: center;
}

.divider {
    margin: 0 10px;
    background: none;
}

/* 소개페이지 */
.dept-card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* 단일학부 정보 카드 */
.dept-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.25);

    padding: 10px 10px;
}

.dept-thumb {
    width: 33%;
    margin-right: 30px;
}

.dept-thumb > img {
    width: 100%;
    border-radius: 15px;
}

.dept-content {
    width: calc(66% - 30px);
}

.dept-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.dept-text {
    font-size: 13px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.dept-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 13px;
}

.dept-info > dl {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 7px 5px;
    margin: 0;
}

.dept-button {
    float: right;
}

/* 통합정보페이지 기관 정보 카드 */
.dept-card.part {
    padding: 10px 20px;
    width: 45%;
    margin-bottom: 30px;
}

.dept-card.part:last-child {
    visibility: hidden;
}

.dept-card.part > .dept-thumb {
    margin: 0 0 20px 0;
    width: 100%;
}

.dept-card.part > .dept-content {
    width: 100%;
}
